.wrapper--tool--map {  display: grid;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: repeat(8, 70px);
    grid-gap: 2px;
    grid-auto-flow: column;
    grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". Reticle-Room . . . . ."
    ". Reticle-Room . . . . ."
    ". Reticle-Room . . . . .";
}

.reticle--room {
    grid-area: Reticle-Room;
    padding: 8px;
    text-align: center;
}

.tool--slot {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/

}

